@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);

  --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
  --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  background-color: var(--Very-dark-blue-main-BG);
  color: hsl(0, 0%, 100%, 60%);
  padding: 1.25rem;
}
ul {
  list-style: none;
}
p {
  font-weight: 300;
}
img {
  max-width: 100%;
  border-radius: 0.5rem;
}

main {
  position: relative;
  padding: 1.25rem;
  background-color: var(--Very-dark-blue-card-BG);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  margin: 1rem auto 1rem;
  width: 350px;
}
main .main-image {
  position: relative;
}
main .main-image div {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: hsl(178, 100%, 50%, 50%);
  top: 0;
  border-radius: 0.5rem;
  opacity: 0;
}
main .main-image div:hover {
  cursor: pointer;
  opacity: 1;
}
main .main-image div img {
  height: 2rem;
}
main h2 {
  color: var(--White);
  margin: 1rem 0.5rem 0.5rem 0;
}
main h2:hover {
  color: var(--Cyan);
  cursor: pointer;
}
main ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  border-bottom: 1px solid var(--Very-dark-blue-line);
}
main li {
  display: flex;
  align-items: center;
}

main ul li:first-child {
  color: var(--Cyan);
}
main ul li img {
  margin-right: 0.5rem;
}
main .avatar {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}
.avatar span {
  color: var(--White);
  font-weight: 400;
}
.avatar span:hover {
  color: var(--Cyan);
  cursor: pointer;
}

.avatar img {
  border: 2px solid var(--White);
  border-radius: 50%;
  width: 2.5rem;
  margin-right: 1rem;
}
